
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedAppoint</title>
  <!-- -------- anime css ------ -->
  <link rel="stylesheet" href="assets/css/animate.css">
  <!-- --------- tiny slider css ------ -->
  <link rel="stylesheet" href="assets/css/tiny-slider.css">
  <!-- --------- font awsome css ------ -->
  <link rel="stylesheet" href="assets/css/all.css">
  <!-- -------- venobox css ------- -->
  <link rel="stylesheet" href="assets/css/venobox.css" type="text/css" media="screen" />
  <!-- ---- Bootstrap css--- -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- ---------- default css --------- -->
  <link rel="stylesheet" href="assets/css/default.css">
  <!-- --- style css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/styles.css">
  <link rel="stylesheet" href="assets/css/developer.css">
</head>
<body> 
    
    
    
    
      <!-------   Header star ------>
      <header class="header-area">
        <div class="navbar-area">
          <!---- navbar star--->
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img class="image" src="assets/img/header/logo/landapp-logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" data-scroll-nav="0" aria-current="page" href="home">Home</a>
                    </li>
                    
    
                  </ul>
    
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!---- navbar end--->
        <div class="header-hero" data-scroll-index="0">
          <!---- home star ------>
          <div class="shape shape-1"></div>
          <div class="shape shape-2"></div>
          <div class="shape shape-3"></div>
          <div class="shape shape-4"></div>
          <div class="shape shape-5"></div>
          <div class="shape shape-6"></div>
        
    <div class="containerss py-5">
        <h1 class="text-center">Our Team</h1>
        <div class="line"></div>
       

        <div class="row row-cols-1 row-cols-md-2 g-4 py-5">
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/img/developer/Rishita.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Rishita Rai</h5>
                                <p class="card-text">Rishita Rai have knowledge and experience in
                                    creating seamless Web Dev. She have hands-on
                                    experience in working with Js.</p>
                                <p class="card-text"><small class="text-muted">Designation : Back-end Developer</small></p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/img/developer/Ritik image.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Ritik Chaurasia</h5>
                                <p class="card-text">Ritik Chaurasia is Vice President
                                    of Algo Club and member of IIC,PSIT. He acquired 4th rank in College
                                    Hackathon</p>
                                <p class="card-text"><small class="text-muted">Designation : Back-end Developer</small></p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/img/developer/Trivedi image.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Satyam Trivedi</h5>
                                <p class="card-text">Satyam Trivedi have knowledge and experience in
                                    creating seamless frontend web pages.
                                    </p>
                                <p class="card-text"><small class="text-muted">Designation : Front-end Developer</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="assets/img/developer/Vij image.jpeg" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Sakshi Vij</h5>
                                <p class="card-text">Sakshi Vij is winner of technical presentation twice
                                    in a row and have well knowledge about creating
                                    seamless user interface.</p>
                                <p class="card-text"><small class="text-muted">Designation : Front-end Developer</small></p>
                            </div>
                            <div class="d-flex justify-content-around">
                                <i class="bi bi-facebook"></i>
                                <i class="bi bi-instagram"></i>
                                <i class="bi bi-envelope-check-fill"></i>
                                <i class="bi bi-linkedin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
          <div class="container">
            <div class="header-shape-1"></div>
            <div class="header-shape-2">
              <img src="assets/img/header/header-shape-2.svg" alt="">
            </div>
            
          </div>
        
        </div>
        <!---- home star ------>
      </header>

    
    

  <!-- ---- jquery Js ---- -->
  <script src="assets/js/jquery-1.12.4.min.js"></script>
  <!-- -------- venobox js ------ -->
  <script type="text/javascript" src="assets/js/venobox.min.js"></script>
  <!-- ---------- wow js ---------- -->
  <script src="assets/js/wow.min.js"></script>
  <!-- ---------- tiny slider js --------- -->
  <script src="assets/js/tiny-slider.js"></script>
  <!-- ---------- scrollit js ---------- -->
  <script src="assets/js/scrollIt.min.js"></script>
  <!-- -------- font awsome js --------- -->
  <script src="assets/js/all.js"></script>
  <!-- ---- Bootstrap Js ---- -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- ---- main js --- -->
  <script src="assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>