
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MedAppoint</title>
  <!-- -------- anime css ------ -->
  <link rel="stylesheet" href="assets/css/animate.css">
  <!-- --------- tiny slider css ------ -->
  <link rel="stylesheet" href="assets/css/tiny-slider.css">
  <!-- --------- font awsome css ------ -->
  <link rel="stylesheet" href="assets/css/all.css">
  <!-- -------- venobox css ------- -->
  <link rel="stylesheet" href="assets/css/venobox.css" type="text/css" media="screen" />
  <!-- ---- Bootstrap css--- -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <!-- ---------- default css --------- -->
  <link rel="stylesheet" href="assets/css/default.css">
  <!-- --- style css -->
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body> 
    
    
    
    
      <!-------   Header star ------>
      <header class="header-area">
        <div class="navbar-area">
          <!---- navbar star--->
          <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
              <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img class="image" src="assets/img/header/logo/landapp-logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                      <a class="nav-link" data-scroll-nav="0" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown ">
                      <a
                        class="nav-link dropdown-toggle f"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="true"
                      >
                        Login
                      </a>
                      <ul class="dropdown-menu f">
                        <li><a class="dropdown-item" href="login_user">User</a></li>
                        <li>
                          <a class="dropdown-item" href="login_hospital">Hospital</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item dropdown ">
                      <a
                        class="nav-link dropdown-toggle f"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="true"
                      >
                        Sign Up
                      </a>
                      <ul class="dropdown-menu f">
                        <li><a class="dropdown-item" href="signup_user">User</a></li>
                        <li>
                          <a class="dropdown-item" href="signup_hospital">Hospital</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-scroll-nav="6" href="developers">Developers</a>
                    </li>
                  </ul>
    
                </div>
              </div>
            </nav>
          </div>
        </div>
        <!---- navbar end--->
        <div class="header-hero" data-scroll-index="0">
          <!---- home star ------>
          <div class="shape shape-1"></div>
          <div class="shape shape-2"></div>
          <div class="shape shape-3"></div>
          <div class="shape shape-4"></div>
          <div class="shape shape-5"></div>
          <div class="shape shape-6"></div>
          <div>
            <div class="row align-items-center justify-content-center justify-content-lg-between">
              <div class="col-lg-6 col-md-10">
                <div class="header-hero-content">
                    <div class="containers">
                        <div class="card">
                            <div class="card-body">
                                <div class="circle"></div>
                                <header class="myHed text-center">
                                  <h3>Login User</h3>
                                </header>
                                <% if(message.length>0) {%>
                                  <div class="alert alert-danger">
                                    <%=message%>
                                  </div>
                                  <%}%>
                                <form class="main-form text-center"action="/login_user" method="post">
                                    <div class="form-group my-0">
                                        <label class="my-0">
                                            <i class="fas fa-user"></i>
                                            <input type="text" class="myInput" name="email" placeholder="Email"> 
                                        </label>
                                    </div>
                                    <div class="form-group my-0">
                                        <label class="my-0">
                                            <i class="fas fa-lock"></i>
                                            <input type="password" class="myInput" name="password" placeholder="Password"> 
                                        </label>
                                    </div>
                                    <label class="check_1">
                                        <input type="checkbox" checked>
                                        Remember Me
                                    </label>
                                    <div class="form-group">
                                        <label> 
                                            <input type="submit" class="form-control button" value="LOGIN"> 
                                        </label>
                                    </div>
                                    <span class="check_1">Create New <a href="signup_user">Id</a></span>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6" style="padding-left: -40vh;">
                <div class="header-image" >
                  <img src="assets/img/header/header-app.png"  alt="" style="max-height: 80vh;margin-left: 18vh;padding-bottom: 5vh;" >
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="header-shape-1"></div>
            <div class="header-shape-2">
              <img src="assets/img/header/header-shape-2.svg" alt="">
            </div>
          </div>
        </div>
        <!---- home star ------>
      </header>
      
    
    

  <!-- ---- jquery Js ---- -->
  <script src="assets/js/jquery-1.12.4.min.js"></script>
  <!-- -------- venobox js ------ -->
  <script type="text/javascript" src="assets/js/venobox.min.js"></script>
  <!-- ---------- wow js ---------- -->
  <script src="assets/js/wow.min.js"></script>
  <!-- ---------- tiny slider js --------- -->
  <script src="assets/js/tiny-slider.js"></script>
  <!-- ---------- scrollit js ---------- -->
  <script src="assets/js/scrollIt.min.js"></script>
  <!-- -------- font awsome js --------- -->
  <script src="assets/js/all.js"></script>
  <!-- ---- Bootstrap Js ---- -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- ---- main js --- -->
  <script src="assets/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>